# Ignore environment variable files
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment files
venv/
env/

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp
